.footer__column-link{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  transition: opacity .8s ease;

}
.footer__column-link:hover{
  opacity: 0.6;
}
